* {
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Creepster', sans-serif;
}
#container-404 {
	height: 100vh;
	overflow: hidden;
	position: relative;
	width: 100vw;
}
a {
	color: white;
	font-size: 36px;
	padding: 10px;
	text-decoration: none;
}

