<style>
   .line{
      font-size: 1vw;
   }
   .line-left{
      width: 50%;
      float: left;
   }
   .line-right{
      width: 50%;
      float: right;
   }
</style>

<br/>

<div class="line">
   <div class="line-left">xxxxxxx</div><div class="line-right">xxxxxxx</div><br/>
   <div class="line-left">xxxxxxx</div><div class="line-right">xxxxxxx</div><br/><br/>
</div>

<div class="line">
   <div class="line-left">xxxxxxx</div><div class="line-right">xxxxxxx</div><br/>
   <div class="line-left">xxxxxxx</div><div class="line-right">xxxxxxx</div><br/><br/>
</div>

<script>
   adjustFont = function () {
      var divs = document.getElementsByClassName("line");
      for(var i = 0; i < divs.length; i++) {
         var relFontSize = divs[i].offsetWidth*0.04;
         divs[i].style.fontSize = relFontSize+'px';
      }
   };

   window.onload = function(event) {
      adjustFont();
      console.log("test")
   };
   window.onresize = function(event) {
      flexFont();
   };
</script>
