.custom-navbar {
  height: 36px;
  line-height: 36px;
  list-style: none;
  margin: 0;
  padding: 30px 0;
  width: 100%;
}
.custom-navbar > li {
  background-color: #444;
  border-right: 1px solid #999;
  color: #ddd;
  float: left;
}
.custom-navbar > li > a {
  color: inherit;
  display: block;
  text-decoration: none;
  width: 100%;
  padding: 0 15px;
}
.custom-navbar li.custom-navbar__border {
  background-color: #000;
  padding: 0 15px;
  pointer-events: none;
}
/*.custom-navbar li.custom-navbar_sec0 {*/
/*  border-bottom: 2px solid cyan;*/
/*}*/
.custom-navbar li.custom-navbar-about {
  border-bottom: 2px solid salmon;
}
.custom-navbar li.custom-navbar-work {
  border-bottom: 2px solid cyan;
}
.custom-navbar li.custom-navbar-code {
  border-bottom: 2px solid orange;
}
/*.custom-navbar li.custom-navbar_sec0 > a:hover {*/
/*  color: cyan;*/
/*}*/
.fa-user-circle, .custom-navbar li.custom-navbar-about > a:hover, .custom-navbar li.custom-navbar-about > a.active {
  color: salmon;
}
.fa-briefcase, .custom-navbar li.custom-navbar-work > a:hover, .custom-navbar li.custom-navbar-work > a.active {
  color: cyan;
}
.fa-code, .custom-navbar li.custom-navbar-code > a:hover, .custom-navbar li.custom-navbar-code > a.active {
  color: orange;
}
/*.fa-home {*/
/*  color: cyan;*/
/*}*/
