{% extends "page.html" %}
{% block head %}
<!--<link rel="stylesheet" href="{{ SITEURL }}/theme/css/style-light.css" type="text/css" media="all">-->
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/navbar.css" type="text/css" media="all">
  <!--<link rel="stylesheet" href="../theme/css/pygments-light.css" type="text/css" media="all">-->
{% endblock head %}
{% block secondnav %}

  <ul class="custom-navbar">
<!--        <li class="custom-navbar__border custom-navbar_sec0"><i class="fa fa-home"></i></li>-->
<!--        <li class="custom-navbar_sec0"><a href="/index.html">Homepage</a></li>-->
    <li class="custom-navbar__border custom-navbar-about"><i class="fa fa-user-circle"></i></li>
    {% for name, link in ABOUT_ME %}
      <li class="custom-navbar-about"><a href="{{ link }}" {{ 'class="active"' if "/" ~ output_file == link }}>{{ name }}</a></li>
    {% endfor %}
    <li class="custom-navbar__border custom-navbar-work"><i class="fa fa-briefcase"></i></li>
    {% for name, link in MY_WORK %}
      <li class="custom-navbar-work"><a href="{{ link }}" {{ 'class="active"' if "/" ~ output_file == link }}>{{ name }}</a></li>
    {% endfor %}
    <li class="custom-navbar__border custom-navbar-code"><i class="fa fa-code"></i></li>
    {% for name, link in MY_WORK_CODE %}
      <li class="custom-navbar-code"><a href="{{ link }}" {{ 'class="active"' if "/" ~ output_file == link }}>{{ name }}</a></li>
    {% endfor %}
  </ul>
  <!--<div class="scroll-to-top" style="display: none;"><i class="fa fa-angle-up"></i></div>-->
{% endblock secondnav %}
</body>
